
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/_LayoutUser.cshtml";}

<div class="fancybox-overlay fancybox-overlay-fixed" style="width: auto; height: auto; display: block;">
    <div class="fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened" tabindex="-1" style="width: 315px; height: auto; position: absolute; top: 52px; left: 519px; opacity: 1; overflow: visible;">
        <div class="fancybox-skin" style="padding: 15px; width: auto; height: auto;">
            <div class="fancybox-outer">
                <div class="fancybox-inner" style="overflow: hidden; width: 285px; height: auto;">
                    <p class="fancybox-error">Cảm ơn đơn đặt hàng của quý khách!</br>Chúng tôi sẽ giao hàng đúng hẹn!</p>
                </div>
            </div><a title="Close" class="fancybox-item fancybox-close" href="@Url.Action("Index","Hang")"></a>
        </div>
    </div>
</div>



