@model  IEnumerable<QLBanhang.Models.CHUDE>


@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("SPTheochude", "Hang", new {id=item.MaCD})">
            @item.TenChuDe
        </a>
    </li>
}

