@{
    ViewBag.Title = "timkiemnull";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kết quả tìm kiếm</font></font></h1>
                <div class="shopping-cart-page">
                    <div class="shopping-cart-data clearfix">
                        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Không có kết quả tìm kiếm liên quan!</font></font></p>
                    </div>
                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
        <!-- BEGIN SIMILAR PRODUCTS -->
        
        <!-- END SIMILAR PRODUCTS -->
    </div>
</div>