@model QLBanhang.Models.NHACUNGUNG

@{
    ViewBag.Title = "ThemmoiNCU";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>NHÀ CUNG ỨNG</h2>
                                    <p>Chào mừng đền với sản phẩm <span class="bread-ntd">Natruliss</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>THÊM NHÀ CUNG ỨNG</h2>
                        <p>Yêu cầu các quản trị viên bảo mật thông tin cá nhân riêng tư của khách hàng.</p>
                        @Html.ActionLink("Trở về", "NCU")
                    </div>
                    <div class="table-responsive">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p class="control-label col-md-2">Tên nhà cung ứng</p>
                                    <input class="form-control" oninvalid="alert('Xin vui lòng nhập tên nhà cung cấp!');" required type="text" name="TenNCC" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p class="control-label col-md-2">Đia chỉ</p>
                                    <input class="form-control" oninvalid="alert('Xin vui lòng nhập địa chỉ!');" required type="text" name="Diachi" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <p class="control-label col-md-2">Điện thoại</p>
                                    <input class="form-control"oninvalid="alert('Xin vui lòng nhập số điện thoại!');" required type="text" name="Dienthoai" /><br />
                                </div>
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Thêm mới" class="btn btn-default" />
                                </div>
                            </div>
                        }
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>